* {
    padding: 0; 
    margin: 0; 
    list-style: none; 
    text-decoration: none; 
    box-sizing: border-box;
    font-family: Arial, HelvSetica, sans-serif;
}

/* Test on About Page to demonstrate header and footer */
.test h1{
    font-size: 30px;
}

/*  ----------------------------------------------------------------------------------------------------------------------------------
    LOGIN & SIGNUP PAGE
    UI: Hunter
*/

.signup-body{
    overflow: auto;
    position:fixed;
    padding:0;
    margin-left:0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 100%;
    box-sizing: border-box;
    letter-spacing: 0.5px;
}

.login-body{
    overflow: auto;
    position:fixed;
    padding:0;
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 100%;
    box-sizing: border-box;
    letter-spacing: 0.5px;
}

.login-input, .signup-input{
    margin: 10 auto;
}


.login-input i, .signup-input i{
    color: #54585A;
    margin-left: -40px; 
    cursor: pointer;
}



.login-input i span, .signup-input i span {
    margin-bottom: -3px;
    display: inline-block;
    vertical-align: middle;
}

.login-form, .signup-form {
    width: 500px;
    border: 2px solid #54585A;
    padding: 30px;
    background: #ffffff;
    border-radius: 15px;
}


.signup-form h2, .login-form h2 {
    text-align: center;
    margin-bottom: 40px;
}

.login-input input {
    display: inline-block;
    border: 2px solid #54585A;
    width: 100%;
    padding: 10px;
    margin: 10px auto;
    margin-bottom: 10px;
    border-radius: 5px; 
}

.signup-input .input-double{
    display: inline-block;
    border: 2px solid #54585A;
    width: 49.4%;
    padding: 10px;
    margin: 10px auto;
    margin-bottom: 20px;
    border-radius: 5px; 
}


.signup-input .input-single, .login-input .input-single{
    display: inline-block;
    border: 2px solid #54585A;
    width: 100%;
    padding: 10px;
    margin: 10px auto;
    margin-bottom: 20px;
    border-radius: 5px; 
}

.signup-input .label-single, .login-input .label-single{
    color: #000000;
    font-size: 18px;
    padding: 8px;
}


.signup-input .label-double {
    color: #000000;
    font-size: 18px;
    margin-left: 173px;
}

.login-button button {
    background: #960c22;
    padding: 10px;
    width: 435px;
    color: #fff;
    margin-top: 20px;
    border-radius: 10px;
}

.message-logredirect{
    margin-left: 10px;
    font-size: 14px;
}

.link-logredirect{
    color: black;
    margin-left: 98px;
    margin-top: -16px;
    font-size: 14px;
}

.message-signredirect{
    margin-left: 10px;
    font-size: 14px;
    margin-top: -10px;
    
}

.link-signredirect{
    color: black;
    margin-left: 120px;
    font-size: 14px;
    margin-top: -16px;
}

.signup-button button {
    background: #960c22;
    width: auto;
    padding: 10px;
    width: 435px;
    color: #fff;
    margin-top: 16px;
    border-radius: 10px;
}

/*  ---------------------------------------------------------------------------------------------------------------------------------- 
    HEADER & FOOTER FOR ALL PAGES 
    UI: Justin
    HEADER STICKY: Hunter
    FOOTER STICKY: Hunter

    Note: Use header.php & footer.php for all pages, no need to manually write headers, see documentation for more information
*/
 

.header-top {
    padding: 15px;
    font-size: 20px;
    text-align: center;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #C8102E;
    margin: 0;
    font-family: Helvetica;
    padding:0;
}

.header-top, footer{
    background-color: #960C22;
    color: white;
}

.header {
    font-size: 0px; 
}

.header .button {
    border: none;
    color: white;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    width: 20%;
    background-color: #960C22;
}

.header .button:hover {
    background-color: #888B8D;
}

.page-content{
    flex-grow: 1;
}

footer img{
    float:left; 
    margin-left:50px;
}

footer h1{
    float:left; 
    padding:20px;
    font-size: 20px;
    margin-top: 5px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
  
.sticky + .page-content {
    padding-top: 50px;
}

/*  ----------------------------------------------------------------------------------------------------------------------------------
    HOME PAGE
    UI: Justin
*/

.search .search-container {
    float: center;
    text-align: center;
    font-size: 20px;
}
  
.search input[type=text] {
    padding: 17px;
    font-size: 25px;
    border: none;
}
  
.search .search-container button {
    float: center;
    padding: 20px;
    background: #ddd;
    border: none;
    cursor: pointer;
    margin-bottom: 175px;
}
  
.search .search-container button:hover {
    background: #ccc;
}

.usrdash{
    display:flex;
    justify-content: center;
}
